.rank-border {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  padding-top: 10px;
  position: relative;
  height: 100%;
}
.rank-list{
  width: 100%;
  height: 100%;
}
.rank-border-list {
  width: 93.6%;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 8px 13px 8px 0px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rank-border-list-left {
    flex: 1;
    display: flex;

    .rank-border-list-rank {
      width: 44px;
      height: 44px;
      font-size: 14px;
      font-weight: 500;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      line-height: 44px;
      img{
        width: 44px;
        height: 44px;
      }
    }
    .rank-border-list-info {
      flex: 1;
      display: flex;
      &-avatar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        // background-color: white;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &-nickname {
        padding-left: 8px;
        max-width: 130px;
        font-weight: 700;
        line-height: 44px;
        white-space: nowrap;
      }
    }
  }
}
.rank-none{
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
  }
}
