.task-border {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 0;
  overflow: scroll;

  ul {
    margin: 0 auto;
    list-style-type: none;
    padding-inline-start: 0;
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 92%;
    height: 78px;

    margin: auto auto 10px auto;
    border-radius: 6px;
    padding: 0 15px;
    background-color: black;

    .task-list {
      color: #fff;

      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .task-list-name {
      font-size: 13px;
      line-height: 15px;
      font-weight: 700;
      text-align: left;
      white-space: nowrap;
    }

    .task-list-description {
      font-size: 10px;
      font-weight: 400;
      margin-top: 5px;
      text-align: left;
      white-space: nowrap;
    }

    .task-list-prize {
      display: flex;
      align-items: center;
      margin-top: 5px;
      font-weight: 400;
      font-size: 10px;

      span {
        line-height: 15px;
      }
    }
  }

  .task-operate {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // p {
    //   margin-top: 4px;
    //   font-size: 10px;
    //   line-height: 8px;
    // }

    .task-operate-btn {
      width: 69px;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      position: relative;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      text-align: center;
    }
  }

}

.task-operate-progress {
  position: relative;
  font-size: 10px;
  line-height: 8px;
  top: 4px;
}

.task-list-prize-list {
  display: flex;
  align-items: center;

  img {
    height: 15px;
    object-fit: cover;
  }
}